<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>COOKIE:<%= title %></h1>
    <a href="login.html">登录</a>
  </body>
</html>
